<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Epic Button Game</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready(function (){
				var socket = io.connect();
				$('#epic_button').click(function(){
					socket.emit("button_clicked");
				});
				$('#reset_button').click(function(){
					socket.emit("reset_clicked");
				});
				socket.on('server_broadcast', function (data){
					console.log(data.response);
				});
				socket.on('current_count', function (data){
					$('#button_count_header').html("The Button has been pressed " + data.count + " time(s).");
				});
				socket.on('server_response', function (data){
					console.log(data.response);
				});
				socket.on('count_update', function (data){
					$('#button_count_header').html("The Button has been pressed " + data.count + " time(s).");
				});
			});
		</script>
	</head>
	<body>
		<h2 id="button_count_header"></h2>
		<h4>Push the button to update the count!</h4>
		<button id="epic_button" href="">Push The Epic Button</button><br>
		<button id="reset_button" href="">Reset Count</button>
	</body>
</html>